body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #0056b3;
  color: #333;

}

header {
  background-color: #007BFF;
  color: white;
  padding: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.faq-item {
  margin-bottom: 15px;
  cursor: pointer;
}

.faq-answer {
  display: none;
  padding: 10px;
  background-color: #f4f4f9;
  border: 1px solid #ddd;
  margin-top: 5px;
}

.show {
  display: block;
}

.calendly-inline-widget {
  display: block;
  margin: 0 auto; /* Center the widget */
  border: 1px solid #ddd; /* Optional: Add a border for better visibility */
  border-radius: 8px; /* Rounded corners */
}
.icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px; /* ריווח קל בין האייקון לטקסט */
}